In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S

In [3]:
# features family size
# alone
# adult
# first name
# last name
# Deck?

# base model logistic regression, no added features, drop Age NaNs, Cabin and Ticket info

In [4]:
# encode male/female
sex_encoder = preprocessing.LabelEncoder()
data.Sex = sex_encoder.fit_transform(data.Sex)

# drop Age NaNs
data = data[data.Age.notna() & data.Fare.notna()]
data = data.drop(['Cabin', 'Ticket'], axis=1)

# encode embarked location
dummies = pd.get_dummies(data.Embarked)
data = pd.concat([data, dummies], axis=1)
data = data.drop(['Embarked'], axis=1)

# drop name
data = data.drop(['Name'], axis=1)

# drop passenger ID (same as index)
data = data.drop(['PassengerId'], axis=1)

In [5]:
# split data 
y = data.pop('Survived')
X = data

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [7]:
regressor = LogisticRegression(max_iter=1000)
regressor.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [8]:
# get predictions
probs = regressor.predict_proba(X_test)
preds = np.argmax(probs, axis=1)

# check accuracy on test set
(preds == y_test).mean()

0.7640815903913853